@CHARSET "UTF-8";
.download{
	margin:20px 33px 10px;
	*margin-bottom:30px;
	padding:5px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	background:#e6e6e6;
	border:1px dashed #df0031;
	font-size:14px;
	font-family:Comic Sans MS;
	font-weight:bolder;
	color:#555
	}
.download a{padding-left:5px;font-size:14px;font-weight:normal;color:#555;text-decoration:none;letter-spacing:1px}
.download a:hover{text-decoration:underline;color:#36F}
.download span{float:right}